body {
    font-family: "Merriweather", serif;
    margin: 0;
    background-color: #f7f7f1;
}

/* header styling details */
header {
    padding: 1.9rem 10px .9rem 10px;
    text-align: center;
    display: flex;
    justify-content: center;

}
header figure{
    margin: 0;
    width: 80%;
    max-width: 500px;

}
header figure img{
    width: 100%;
    height: auto;
}

header span {
    color: #272727;
    font-size: 3.2rem;
    font-family: "Nothing You Could Do", cursive;
    line-height: 3.2rem;

}

/* navigation bar styling */
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    display: block;
    padding: .6rem .8rem;
    text-decoration: none;
    color: #676767;
    font-size: 1.4rem;
    font-weight: 400;
    /* create an invisible border to avoid a shift when active border appears */
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

nav li a:hover {
    border: 1px solid;
    border-radius: 4px;
    border-color: #dfdfdf;
}

nav li.active a {
    border: 1px solid;
    border-radius: 4px;
    border-color: #bcbcbc;
    text-decoration: none;
}

/* main body headings and paragraphs */
main {
    padding: 1rem;
    width: 90%;
    max-width: 1800px;
    margin-inline: auto;
}
main div.center-menu{
    display: flex;
    justify-content: center;
}
figure.radial {
    width: 60%;
    max-width: 360px;
}
figure.radial img{
    width: 100%;
    height: auto;

      
}
figure.radial figcaption{
        font-size: .75rem;
        margin-top: 10px;
        text-align: center;

}

main h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 300;
    margin-top: .8rem;
    margin-bottom: .4rem;
    color: #676767;
    font-size: 1.4rem;
}

main h2 {
    letter-spacing: .11rem;
    margin-bottom: .2rem;
    margin-top: 1.2rem;
    color: #676767;
    font-size: 1.2rem;
    font-weight: 350;

}

main p {
    margin: 0;
    color: #272727;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

main ol {
    padding: .0rem 30px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%
}

main dl dt {
    color: #676767;
    margin-top: 1rem;
    margin-left: 30px;
}

main dl dd {
    margin-left: 30px;
}

main address {
    font-style: normal;

}

main a {
    color: #1a3f55;
}

main a:visited {
    color: rgb(83, 32, 85);
}

main a:hover {
    color: #7c7c7c;
}

/* Main Section Images */
figure.wrapped{
    margin: 0 0 0 10px;
    width: 40%;
    min-width: 180px;
    max-width: 600px;
    float: right;
}
figure.wrapped img{
    width: 100%;
    height:auto;
}


/* Gallery Styling */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px
}
div.gallery figure{
    margin: 0;
    width: 24%;
    max-width: 400px;
    min-width: 160px;
;
}
div.gallery figure img{
    width: 100%;

    height: auto;
}

/* styling for the footer section */
footer {
    text-align: center;
    color: #676767;
    clear: both;
    margin-top: 30px;
    font-size: .7rem;
}